body {
    margin: 0;
    padding: 0;
    background-color: #4b4e6d;
    font-family: arial, sans-serif;
}

* {
    box-sizing:border-box;
}

@media (min-width: 800px) {
    body {
        background: url('bg-blue.png'), #4b4e6d;
    }
    main {
        /*! background: url('bg-light.png'), #eee5e5; */
    }
}

@font-face {
    font-family: titleFont;
    src: url(geosanslight.ttf);
}



    /* NAVIGATION */

    body>header {
        position: fixed;
        width: 100%;
        min-height: 42px;
        background-color: #28afb0;
        border-bottom: 5px solid #48d0d1;
        z-index: 100;
    }

    main {
        display: block; /* IE */
        background-color: #4a4b57;
        box-shadow: 0 4px 10px #1a1b26;
        border-bottom: 4px solid #6c6d78;
    }

    footer {
        margin: 5px 0;
        text-align: center;
    }

        h1 { margin: 40px 0 28px; }

            h1 span {
                margin-left: 3%;
                padding: 1px 3%;
                background-color: #218c9a;
                border: 0 solid #28afb0;
                border-width: 0 5px;
                box-shadow: 4px 4px 0 #383945;
                color: white;
                font-variant: small-caps;
                font-weight: normal;
            }



        /* GRID */

        /* sur 5 col */
        .col-5-4 { width: 75%; }
        .col-5-1 { width: 16%; }

        /* sur 3 col */
        .col-3-1 { width: 30%; }

        /* sur 2 col */
        .col-2-1 { width: 40%; }
        
        /* marges */
        .col-5-4 { margin-right: 0; }
        .col-5-1 { margin-right: 2%; }
        .col-3-1:last-child { margin-right: 0; }

        @media (max-width: 800px) {
            [class^="col-5"] {
                width: 100%;
                margin : auto;
            }
        }

        @media (max-width: 400px) {
            .col-3-1 {
                width: 98%;
                margin-right: 0;
            }
        }

        

        /* HEADER */

        body>header {
            text-align: right;
            padding: 8px 3% 0 5px;
        }
        body>header a:hover { color: white; }

        body>header>* {
            float: clear;
            display: inline-block;
            margin: auto 2px;
            color: #e0f8f8;
        }

        body>header>a:first-child {
            float: left;
            margin: -10px 2% 0;
            font-family: titleFont, arial, sans-serif;
            font-size: 2rem;
            text-decoration: none;
            text-shadow: 2px 1px 0px #368181;
        }

        body>header>a:last-child { margin-bottom: 6px; }



        /* FOOTER */

        footer span {
            display:inline-block;
            margin: 10px 2%;
            font-size: 1rem;
            color:  #d0d1ea;
            font-variant: small-caps;
            font-family: titleFont, arial, sans-serif;
        }

        footer span a {
            color:  #d0d1ea;
            text-decoration: none;
            font-variant: normal;
        }

        footer span a:hover {
            color: #c9ebf2;
            text-decoration: underline;
        }


            
        /* MENU & LIST / PROFIL */

        main>div {
            margin: 0 auto;
            padding-top: 50px;
            max-width: 1280px;
            text-align: center;
        }

            #menuListStyles>section {
                display: inline-block;
                text-align: center;
            }

                #menuListStyles>section>header {
                    margin: 22px auto 10px;
                    padding: 5px 20px 5px 20px;
                    background-color: #ededed;
                    border: 0 solid #a6a7b1;
                    border-width: 0 5px;
                    box-shadow: 4px 4px 0 #383945;
                    text-align: left;
                    color: #575a7e;
                    column-count: 2;
                    column-gap: 40px;
                    column-rule: 1px solid #a6a7b1;
                }

                menu {
                    display: inline-block;
                    vertical-align: top;
                    margin: 20px 0;
                    padding: 0;
                    min-width: 170px;
                    overflow: hidden;
                    box-shadow: 4px 4px 0 #383945;
                    background-color: #4e527b;
                    border: 0 solid #8b8db4;
                    border-width: 0 5px;
                }



        @media (min-width: 800px) {
            menu {
            }
        }

        @media (max-width: 800px) {
            main>div, main>section, #menuListStyles { display: block; }
            #menuListStyles>section>header {
                margin: 4px 0 0;
                border-radius: 0;
                box-shadow: initial;
            }
            menu {
                border: none;
            }
        }

        @media (max-width: 400px) {
            #menuListStyles>section>header { display: none; }
        }



        /* MENU (#personnesListe, #commonStyles) */
                
                /* filtrer, défiltrer */

                menu a {
                    text-decoration: none;
                }

                    menu a h3, menu a h4 {
                        background-color: #19647e;
                        color: #c5e1e2;
                    }

                    menu a h3:hover, menu a h4:hover {
                        background-color: #36768d;
                        color: #dcfdf6;
                    }

                menu h3, menu h4 {
                    margin: 0 0 20px;
                    padding: 1px 3%;
                    background-color: #727393;
                    box-shadow: 0 4px 5px #3a3a4e;
                    color: #d0d1ea;
                    font-variant: small-caps;
                    font-weight: normal;
                    font-family: titleFont, arial, sans-serif;
                    text-align: center;
                    font-size: 1.5rem;
                }

                menu a h4 {
                    margin: 0;
                    padding: 2px 3% 4px;
                    border-top: 1px solid #227c8a;
                    font-size: 1.3rem;
                    font-variant: normal;
                    box-shadow: inset 0 3px 3px #133f47;
                }

                @media (max-width: 800px) {
                    menu h3, menu h4 {
                        margin-bottom: 10px;
                        text-align: left; /* IE */
                        font-size: 1.5rem;
                    }
                }
                
                /* liste de tags */

                menu ul {
                    list-style-type: none;
                    margin-left: 4%;
                    padding: 0;
                    text-align: left;
                }
                    
                    menu ul li {
                        margin: 3% 0 3% 3%;
                    }

                    @media (max-width: 800px) {
                        menu ul li {
                            display: inline-block;
                            margin: 1px 5px;
                        }
                    }

                        menu ul li a {
                            padding : 1px 8px 1px 0;
                            background-color: #a7a8cf;
                            border-radius: 20px 6px 6px 20px;
                            color: #37384b;
                            cursor: pointer;
                            text-decoration: none;
                            text-align: center;
                            box-shadow: 1px 1px 1px #3b3b3b;
                        }

                        menu ul li a:hover {
                            background-color: #4f9ea8;
                            color: #fff;
                        }

                            menu ul li a span {
                                display: inline-block;
                                margin : -2px 5px 0 -5px;
                                padding: 4px 5px;
                                min-width: 1.4rem;
                                background-color: #8b8db4;
                                border : 1px solid #b0b1d3;
                                border-width: 0 1px 2px 0;
                                border-radius: 20px;
                                font-size: 0.5rem;
                                color: #2f315d;
                            }

                        /* tag selectionné */

                        .tagSelect {
                            background-color: #19647e;
                            color: #c5e1e2;
                        }

                        .tagSelect:hover {
                            background-color: #36768d;
                            color: #dcfdf6;
                        }

                    /* "voir plus" */

                    menu ul form {
                        margin: 15px 0 15px 3px;
                        padding: 2px 0 2px 25px;
                        background-color: #218c9a;
                        border-radius: 2px 0 0 20px;
                    }

                    @media (max-width: 800px) {
                        menu ul form {
                            display: inline-block;
                            margin: 3px 0 10px 5px;
                            padding: 2px 6px 2px 12px;
                            border-radius: 3px;
                        }
                    }

                        menu ul form input {
                            font-family: titleFont;
                            font-variant: small-caps;
                            font-size: 1.1rem;
                            font-weight: bold;
                            color: #f0f0f0;
                            text-decoration: none;
                            border: none;
                            background: initial;
                            box-shadow: initial;
                            cursor: pointer;
                        }

                        menu ul form input:hover {
                            color: #ffffff;
                            text-decoration: underline;
                        }



        /* LIST */
        
        #personnesListe {
            display: inline-block;
            width: 100%;
            padding: 10px 0 15px;
            text-align: left;
            column-width: 170px;
            column-gap: 30px;
        }

            #personnesListe div, #personnesListe h1, #personnesListe p {
                display: inline-block;
                min-width: 185px;
                text-align: center;
            }
            

            /* titre */
            #personnesListe h1 {
                margin-top: 10px;
                margin-bottom: 15px;
                padding: 0 2px 6px 2px;
                box-shadow: 4px 4px 0 #383945;
                background-color: #4e527b;
                border: 5px solid #8b8db4;
            }

                #personnesListe h1 span {
                    padding: 0;
                    margin: 0;
                    background-color: initial;
                    border: none;
                    box-shadow: none;
                    font-size: 1.13rem;
                }


            /* cards de chaque personne */
            #personnesListe div {
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: #ffffff;
                box-shadow: 3px 3px 0 #383945;
                border-radius: 2px;
                color: #575a7e;
                cursor: pointer;
                opacity: 0.9;
            }

            #personnesListe div:hover {
                opacity: 1;
                color : #0999ac;
            }

                #personnesListe div img {
                    width: 100%;
                    min-height: 100px;
                    /*! border: 1px solid #787878; */
                }

                #personnesListe div span:not(.myDescr) {
                    display: inline-block;
                    width: 98%;
                    padding: 0px 8px;
                    overflow: hidden;
                    text-align: left;
                    font-variant: small-caps;
                    font-family: titleFont;
                    font-size: 1.15rem;
                    font-weight: bold;
                }

                #personnesListe div span.myDescr {
                    display: block;
                    overflow: hidden;
                    max-height: 0;
                    padding: 0 10px;
                    text-align: left;
                    background-color: #efefef;
                    box-shadow: inset 0 4px 4px #bfbfbf, inset 0 -8px 8px #efefef;
                    color: #545454;
                    border: 0 solid #adadad;
                    border-width: 0 4px;
                    -webkit-transition: max-height 2s, padding 2s;
                    transition: max-height 2s, padding 2s;
                }

                #personnesListe div:hover span.myDescr {
                    max-height: 100px;
                    padding: 10px;
                }


            /* "Voir plus" */

            #personnesListe form {
                margin: 12px 0 20px 0;
                padding: 8px 0;
                width: 100%;
                box-shadow: 4px 4px 0 #383945;
                border-radius: 2px;
                text-align: center;
                background-color: #218c9a;
                border: 5px solid #28afb0;
            }

                #personnesListe form input {
                    text-decoration: none;
                    color: white;
                    font-variant: small-caps;
                    font-family: titleFont;
                    font-size: 1.1rem;
                    font-weight: bold;
                    border: none;
                    background: initial;
                    box-shadow: initial;
                    cursor: pointer;
                }

                #personnesListe form input:hover {
                    text-decoration: underline;
                    color: white;
                }

        @media (max-width: 800px) {
            #personnesListe h1 span { margin: 0; }
            #personnesListe { padding-top: 20px; text-align: center; }
        }
        
        @media (max-width: 400px) {
            #personnesListe div { margin-bottom: 20px; }
            #personnesListe div span { margin-top: 0;}
            #personnesListe h1 { border-width: 0 5px; }
        }



        /* PROFIL, COMPTE, ADMIN.. */
        
        #commonStyles {
            max-width: 100%;
            padding: 40px 0 20px 0;
        }
        

            /* menu */

            #commonStyles menu {
                display: block;
                margin-top: 0;
                border: none;
                border-radius: 0;
                box-shadow: 0 6px 0 #383945;
            }
            #commonStyles menu h3 { margin: 0; }


            /* titre */

            #commonStyles h1 { text-align: center; }
            #commonStyles h1 span { margin-left: 0; }


            /* containers personne et projets */

            #commonStyles article {
                text-align: center;    
                background-color: #ececec;
            }

            #commonStyles article {
                width: 100%;
                margin-top: 40px;
                margin-bottom: 20px;
                box-shadow: 0 6px 0 #383945;
            }

            #commonStyles article.subArticle {
                margin-top: 0;
                margin-bottom: 60px;
                background-color: #4b4e6d;
                border-top: 2px solid #6a5353;
                border-bottom: 4px solid #8286a8;
            }

            #commonStyles article.supArticle {
                margin-top: 60px;
                margin-bottom: 0;
                border: 0 solid #f8f0f0;
                border-width: 3px 0 2px 0;
            }

            #commonStyles #personneProfil {
                background-color: #4b4e6d;
            }

            #commonStyles article div.wrapper {
                max-width: 1000px;
                margin: auto;
                color: #1e8189;
            }


                /* parties dans chaque containers */

                #commonStyles article div div {
                    display: inline-block;
                    vertical-align: top;
                    min-width: 250px;
                }

                #commonStyles article#personneProfil div div,
                #commonStyles article.projetProfil div div {
                    vertical-align: middle;
                }

                #commonStyles .supArticle div div { border-width: 0; }
                #commonStyles .formStyle div div { margin: 0 1%; }

                #personneProfil div div:last-child { background-color: #4b4e6d; }
                .projetProfil div div:first-child { background-color: #d7d7d7; }

                .formStyle div div:first-child,
                .subarticle div div,
                .formStyle div div.notBlue {
                    background-color: #d9e3e7;
                    border: 1px solid white;
                }

                .formStyle div div:last-child:not(:only-child):not(.notBlue),
                .subArticle div.wrapper div {
                    background-color: #57597b;
                    border: 0 solid #4b4e6d;
                    border-width: 0 5px;
                }

                #commonStyles article:not(.subArticle) .adminList { background-color: #d9e3e7; }

                    #commonStyles article div div p {
                        margin: 15px;
                        padding: 0 8px 0 10px;
                        border-radius: 2px;
                        text-align: left;
                    }



                        /* les textes */

                        #commonStyles article#personneProfil div div.col-3-1:nth-child(2) p,
                        #commonStyles article.projetProfil div div.col-3-1:nth-child(2) p {
                            padding: 10px;
                            border: 0 solid #71728f;
                            border-width: 0 4px;
                            margin-right: 16px;
                        }

                        #commonStyles article#personneProfil div div.col-3-1:nth-child(2) p {
                            box-shadow: 2px 2px 3px #36364d;
                        }

                        #commonStyles article.projetProfil div div.col-3-1:nth-child(2) p {
                            box-shadow: 4px 4px 0px #d4d4d4;
                            border-color: #a5a5a5;
                        }

                        #commonStyles article div p span.hoverMdp {
                            padding: 0 15px;
                            background-color: #57597b;
                            color: #57597b;
                        }
                        #commonStyles article div p span.hoverMdp:hover {
                            color: #d0d1ea;
                        }

                        .projetProfil div div:first-child p:first-child {
                            font-variant: small-caps;
                        }
                        .projetProfil div div p {
                            background-color: #b6b6b6;
                            color: #1b2c32;
                        }

                        #personneProfil div div p {
                            background-color: #57597b;
                            color: #d0d1ea;
                        }

                        .formStyle div div h2 {
                            background-color: #96bfce;
                            font-variant: small-caps;
                            font-weight: normal;
                            color: #fff;
                        }
                        .formStyle div div:last-child:not(:only-child):not(.notBlue) h2,
                        .subArticle div div h2 {
                            background-color: #8286a8;
                            color: #d0d1ea;
                        }
                        .formStyle div div:last-child:not(:only-child):not(.notBlue) p,
                        .subArticle div div p {
                            background-color: #4b4e6d;
                            color: #d0d1ea;
                        }

                        .formStyle div div:last-child:not(:only-child):not(.notBlue) form p,
                        .subArticle div div form p {
                            background-color: initial;
                        }

                        .formStyle textarea {
                            display: block;
                            width: 100%;
                        }
                        .formStyle .notaBene {
                            font-size: 0.9rem;
                            font-style: italic;
                        }
                        .formStyle:not(.subArticle) .notaBene {
                            color: #145858;
                        }
                        .formStyle .notaBene em {
                            font-size: 1rem;
                            font-style: normal;
                        }


                            #commonStyles article div div p span,
                            #commonStyles div div form p label {
                                padding: 1px 8px;
                                margin: 0;
                                border-radius: 2px 0 0 2px;
                                background-color: #62b2b2;
                                color: #145858;
                            }

                            #commonStyles article div div p span {
                                display: inline-block;
                                margin: 2px;
                            }

                            #commonStyles #personneProfil div div p:not(.tagList) span,
                            #commonStyles .projetProfil div div p:not(.tagList) span {
                                margin: 0 2px 0 -10px;
                            }


                        /* les liens */

                        #personneProfil div div p a { color: #d0d1ea; }
                        .projetProfil div div p a { color: #006387; }
                        #commonStyles article div div p a:hover { color: #fff; }


                        /* les listes de tags */

                        #commonStyles p.tagList {
                            padding: 0;
                            background-color: initial;
                            margin: 15px 15px 15px 13px;
                        }

                        #commonStyles p.tagList span {
                            display: inline-block;
                            margin: 2px;
                            border-radius: 2px;
                            background-color: #218c9a;
                            color: #c5e1e2;
                        }


                        /* les formulaires */

                        #commonStyles .soloBox {
                            width: 83%;
                            border-bottom-width: 0;
                        }

                            #commonStyles div div form { padding: 0 10px 20px; }

                            #commonStyles .demiForm {
                                display: inline-block;
                                width: 49%;
                                margin: 0;
                                vertical-align: top;
                            }

                                #commonStyles div div form p {
                                    margin: 5px auto;
                                    text-align: center;
                                }

                                    #commonStyles div div form p * {
                                        display: inline-block;
                                        width:48%;
                                    }

                                    #commonStyles div div form p input.checkbox { width: 20px; }
                                    #commonStyles div div form p .checkbox ~ * { width: 89%; }


                                /* .tagListForm */

                                #commonStyles .tagListForm {
                                    column-width: 180px;
                                    column-gap: 20px;
                                }

                                    #commonStyles .tagListForm span {
                                        width: 100%;
                                        margin: 3px 0;
                                        padding: 3px 2px 0 3px;
                                        text-align: left;
                                    }

                                        #commonStyles .tagListForm span * {
                                            display: inline;
                                            vertical-align: top;
                                        }

                                        #commonStyles article div div .tagListForm span label {
                                            display: inline-block;
                                            width: 60%;
                                        }

                                        #commonStyles .tagListForm span .checkbox { width: 10px; }

                                        #commonStyles .tagListForm span em {
                                            padding: 1px 6px 0 5px;
                                            border-radius: 20px;
                                            box-shadow: 1px 1px 1px #373a59;
                                        }
                                        #commonStyles .tagListForm span em:not(.adminEm):not(.banEm) {
                                            background-color: #218c9a;
                                            color: #c5e1e2;
                                        }


                                /* .adminList .tagListForm */

                                #commonStyles .adminList .tagListForm {
                                    width: 100%;
                                    padding: 20px 3% 0;
                                    margin: 0 0 15px;
                                    background-color: rgba(255,255,255,0.1);
                                    border: none;
                                    text-align: left;
                                }

                                #commonStyles .adminList h4 {
                                    text-align: center;
                                    margin-top: 0;
                                    background-color: rgba(255,255,255,0.2);
                                    font-variant: small-caps;
                                }

                                #commonStyles .supArticle .adminList h4 { color: #19647e; }
                                #commonStyles .subArticle .adminList h4 { color: white; }

                                    #commonStyles .adminList .tagListForm form,
                                    #commonStyles .adminList .tagListForm form a {
                                        display: inline-block;
                                        width: 100%;
                                    }

                                            #commonStyles .adminList .tagListForm form span {
                                                border-radius: 2px;
                                                padding-bottom: 2px;
                                            }

                                                #commonStyles .adminList .tagListForm form span em {
                                                    margin-right: 8px;
                                                }

                                                .adminList em.adminEm {
                                                    background-color: white;
                                                    color: #218c9a;
                                                    font-style: normal;
                                                    font-size: 0.85rem;
                                                }
                                                .adminList em.banEm {
                                                    background-color: orange;
                                                    color: #4d2222;
                                                    font-style: normal;
                                                    font-size: 0.85rem;
                                                }

                                                .adminList input.adminEm,
                                                .adminList input.banEm {
                                                    text-decoration: line-through;
                                                    color: #218c9a;
                                                }

                                                .adminList input:not(.adminEm):not(.banEm):hover { color: red; }


                        /* les images */

                        #personneProfil div div:first-child { background-color: #57597b; }
                        .projetProfil div div:last-child { background-color: #b9b9b9; }

                        #commonStyles article div div img {
                            margin: 5px 1.5% 0 1.5%;
                            width: 97%;
                            border-radius: 2px;
                        }


        @media (max-width: 600px) {
            #commonStyles .demiForm {
                width: 80%;
                margin: 0;
                padding: 0;
            }
            #commonStyles .demiForm:last-child {
                margin-bottom: 20px;
            }
            #commonStyles div div form p .checkbox ~ * {
                width: 85%;
            }
        }

        @media (max-width: 800px) {
            #commonStyles { padding: 40px 0 20px 0; }
            #commonStyles menu h1 { /* IE */
                text-align: left;
                font-size: 1.5rem;
            }
            #commonStyles article { padding: 0; }
            #commonStyles article div div {
                text-align: center;
                vertical-align: top;
            }
            #commonStyles article div div img {
                max-width: 450px;
                border-radius: 2px;
                border: 0;
            }
            #commonStyles div div form p * { width: 100%; }
            #commonStyles div div form p input { margin: 4px 0; }
        }

        @media (min-width: 800px) {
            #commonStyles #personneProfil {
                background: url('bg-blue.png'), #4b4e6d;
                border: 0 solid #51546f;
                border-width: 5px 0;
            }
        }