body {
    margin: 0;
    padding: 0;
    background-color: #4b4e6d;
    font-family: arial, sans-serif;
}

* {
    box-sizing:border-box;
}

@media (min-width: 800px) {
    body {
        background: url('bg-blue.png'), #4b4e6d;
    }
    main {
        background: url('bg-light.png'), #eee5e5;
    }
}

@font-face {
    font-family: titleFont;
    src: url(geosanslight.ttf);
}



    /* NAVIGATION */

    body>header {
        position: fixed;
        width: 100%;
        height: 40px;
        background-color: #28afb0;
        border-bottom: 5px solid #48d0d1;
        z-index: 100;
    }

    main {
        display: block; /* IE */
        background-color: #eee5e5;
    }

    footer {
        min-height: 40px;
        background-color: #19647e;
        border-top: 5px solid #218c9a;
        border-bottom: 1px solid #1a799a;
        box-shadow: 0 2px 1px #323448;
    }

        h1 {
            margin: 40px 0 28px;
        }

            h1 span {
                margin-left: 3%;
                padding: 1px 3%;
                background-color: #218c9a;
                border: 0 solid #28afb0;
                border-width: 0 5px;
                box-shadow: 4px 4px 0 #dbd3d3;
                color: white;
                font-variant: small-caps;
                font-weight: normal;
            }



        /* GRID */

        /* sur 5 col */
        .col-5-4 { width: 75%; }
        .col-5-1 { width: 16%; }

        /* sur 3 col */
        .col-3-1 { width: 30%; }
        
        /* marges */
        .col-5-4 { margin-right: 0; }
        .col-5-1 { margin-right: 2%; }
        .col-3-1:last-child { margin-right: 0; }

        @media (max-width: 800px) {
            [class^="col-5"] {
                width: 100%;
                margin : auto;
            }
        }

        @media (max-width: 400px) {
            .col-3-1 {
                width: 98%;
                margin-right: 0;
            }
        }

        

        /* HEADER */

        body>header a:first-of-type {
            float: left;
            margin: -1px 2% 0;
            font-family: titleFont, arial, sans-serif;
            font-size: 2rem;
            text-decoration: none;
            text-shadow: 2px 1px 0px #368181;
        }

        body>header a:last-of-type {
            float: right;
            margin: 6px 2%;
        }

        body>header a {
            color: #e0f8f8;
        }

        body>header a:hover {
            color: white;
        }

        body>header a:last-child { /* IE */
            background-color: #28afb0;
        }



        /* FOOTER */

        footer span {
            display:inline-block;
            margin: 10px 2%;
            font-size: 0.8rem;
            color: #8cd7e5;
            font-variant: small-caps;
        }

        footer span a {
            color: #8cd7e5;
            text-decoration: none;
        }

        footer span a:hover {
            color: #c9ebf2;
            text-decoration: underline;
        }


            
        /* MENU & LIST / PROFIL */

        main>div {
            margin: 0 auto;
            padding-top: 40px;
            max-width: 1280px;
            text-align: center;
        }

            #menuListStyles>section {
                display: inline-block;
                text-align: center;
            }

                #menuListStyles>section>header {
                    margin: 22px auto 7px;
                    padding: 5px 20px 5px 20px;
                    background-color: #4e527b;
                    border: 0 solid #8286a8;
                    border-width: 0 5px;
                    box-shadow: 4px 4px 0 #dbd3d3;
                    text-align: left;
                    color: #c9cce5;
                    column-count: 2;
                    column-gap: 40px;
                    column-rule: 1px solid #8286a8;
                }

                menu {
                    display: inline-block;
                    vertical-align: top;
                    margin: 20px 0;
                    padding: 0;
                    min-width: 170px;
                    background-color: #d1c5c5;
                    border: 1px solid #bca6a6;
                    border-right-color: #fff;
                    border-bottom-color: #fff;
                    border-radius: 5px;
                    overflow: hidden;
                }



        @media (min-width: 800px) {
            menu {
                background: url('bg-dark.png'), #d1c5c5;
            }
        }

        @media (max-width: 800px) {
            main>div, main>section, #menuListStyles { display: block; }
            #menuListStyles>section>header {
                margin: 4px 0 0;
                border-radius: 0;
                box-shadow: initial;
            }
            menu {
                border: none;
                border-radius: 0;
                box-shadow: 0 6px 0 #dbd3d3;
            }
        }

        @media (max-width: 400px) {
            #menuListStyles>section>header { display: none; }
        }



        /* MENU (#personnesListe, #profilStyles) */
                
                /* filtrer, défiltrer */

                menu a {
                    text-decoration: none;
                }

                    menu a h3 {
                        background-color: #19647e;
                        color: #c5e1e2;
                    }

                    menu a h3:hover {
                        background-color: #36768d;
                        color: #dcfdf6;
                    }

                menu h3 {
                    margin: 0 0 20px;
                    padding: 1px 3%;
                    background-color: #727393;
                    border: 1px solid #5e628b;
                    box-shadow: 0 4px 0 #bcabab;
                    color: #d0d1ea;
                    font-variant: small-caps;
                    font-weight: normal;
                    font-family: titleFont, arial, sans-serif;
                    text-align: center;
                    font-size: 1.5rem;
                }

                @media (max-width: 800px) {
                    menu h3 {
                        margin-bottom: 10px;
                        text-align: left; /* IE */
                        font-size: 1.5rem;
                    }
                }
                
                /* liste de tags */

                menu ul {
                    list-style-type: none;
                    margin-left: 4%;
                    padding: 0;
                    text-align: left;
                }
                    
                    menu ul li {
                        margin: 3% 0 3% 3%;
                    }

                    @media (max-width: 800px) {
                        menu ul li {
                            display: inline-block;
                            margin: 1px 5px;
                        }
                    }

                        menu ul li a {
                            padding : 1px 8px 1px 0;
                            background-color: #4b4e6d;
                            border-radius: 20px 6px 6px 20px;
                            box-shadow: 1px 1px 1px #8e7f7f;
                            color: #d0d1ea;
                            cursor: pointer;
                            text-decoration: none;
                            text-align: center;
                        }

                        menu ul li a:hover {
                            background-color: #57597b;
                            color: #eee5e5;
                        }

                            menu ul li a span {
                                display: inline-block;
                                margin : -2px 5px 0 -5px;
                                padding: 4px 5px;
                                min-width: 1.4rem;
                                background-color: #777893;
                                border : 1px solid #b0b1d3;
                                border-width: 0 1px 2px 0;
                                border-radius: 20px;
                                font-size: 0.5rem;
                                color: #2f315d;
                            }

                        /* tag selectionné */

                        .tagSelect {
                            background-color: #19647e;
                            color: #c5e1e2;
                        }

                        .tagSelect:hover {
                            background-color: #36768d;
                            color: #dcfdf6;
                        }

                    /* "voir plus" */

                    menu ul p {
                        margin: 16px 0 20px 0;
                        padding: 2px 0 2px 9px;
                        background-color: #b7a6a6;
                        border-radius: 20px 0 0 20px;
                        font-family: titleFont;
                        font-variant: small-caps;
                        font-size: 1.1rem;
                        font-weight: bold;
                    }

                    @media (max-width: 800px) {
                        menu ul p {
                            display: inline-block;
                            margin: 3px 0 10px 5px;
                            padding: 2px 6px 2px 12px;
                            border-radius: 3px;
                        }
                    }

                        menu ul p a {
                            color: #f0f0f0;
                            text-decoration: none;
                        }

                        menu ul p a:hover {
                            color: #ffffff;
                            text-decoration: underline;
                        }



        /* LIST */
        
        #personnesListe {
            display: inline-block;
            width: 100%;
            padding-top: 10px;
            text-align: left;
            column-width: 170px;
            column-gap: 30px;
        }

            #personnesListe div, #personnesListe h1, #personnesListe p {
                display: inline-block;
                min-width: 185px;
                text-align: center;
            }
            

            /* titre */
            #personnesListe h1 {
                margin-top: 10px;
                margin-bottom: 15px;
                padding: 0 2px 6px 2px;
                background-color: #218c9a;
                border: 0 solid #28afb0;
                border-width: 5px;
                box-shadow: 4px 4px 0 #dbd3d3;
            }

                #personnesListe h1 span {
                    padding: 0;
                    margin: 0;
                    background-color: initial;
                    border: none;
                    box-shadow: none;
                    font-size: 1.13rem;
                }


            /* cards de chaque personne */
            #personnesListe div {
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: #ffffff;
                box-shadow: 3px 3px 0 #dbd3d3;
                border-radius: 2px;
                color: #575a7e;
                cursor: pointer;
                opacity: 0.9;
            }

            #personnesListe div:hover {
                opacity: 1;
                color : #0999ac;
            }

                #personnesListe div img {
                    width: 100%;
                    min-height: 100px;
                    border: 1px solid #f8f0f0;
                }

                #personnesListe div span {
                    display: inline-block;
                    width: 98%;
                    padding: 0px 8px;
                    overflow: hidden;
                    text-align: left;
                    font-variant: small-caps;
                    font-family: titleFont;
                    font-size: 1.15rem;
                    font-weight: bold;
                }


            /* "Voir plus" */

            #personnesListe p {
                margin: 12px 0 20px 0;
                padding: 8px 0;
                width: 100%;
                background-color: #4e527b;
                border: 5px solid #8b8db4;
                box-shadow: 4px 4px 0 #dbd3d3;
                border-radius: 2px;
                font-variant: small-caps;
                font-family: titleFont;
                font-size: 1.1rem;
                font-weight: bold;
            }

                #personnesListe p a {
                    text-decoration: none;
                    color: #cfd0ed;
                }

                #personnesListe p a:hover {
                    text-decoration: underline;
                    color: white;
                }

        @media (max-width: 800px) {
            #personnesListe h1 span { margin: 0; }
            #personnesListe { padding-top: 20px; text-align: center; }
        }
        
        @media (max-width: 400px) {
            #personnesListe div { margin-bottom: 20px; }
            #personnesListe div span { margin-top: 0;}
            #personnesListe h1 { border-width: 0 5px; }
        }



        /* PROFIL */
        
        #profilStyles {
            max-width: 100%;
            padding: 40px 0 20px 0;
        }
        

            /* menu */

            #profilStyles menu {
                display: block;
                margin-top: 0;
                border: none;
                border-radius: 0;
                box-shadow: 0 6px 0 #dbd3d3;
            }
            #profilStyles menu h3 { margin: 0; }


            /* titre */

            #profilStyles h1 { text-align: center; }
            #profilStyles h1 span { margin-left: 0; }


            /* containers personne et projets */

            #profilStyles article {
                text-align: center;    
            }

            #profilStyles article {
                width: 100%;
                margin-top: 40px;
                margin-bottom: 20px;
                border: 0 solid #fff;
                border-width: 1px 0;
            }

            #profilStyles #personneProfil {
                background-color: #4b4e6d;
            }

            #profilStyles .projetProfil {
                background-color: #d1c5c5;
            }

            #profilStyles article div.wrapper {
                max-width: 1000px;
                margin: auto;
            }


                /* parties dans chaque containers */

                #profilStyles article div div {
                    display: inline-block;
                    vertical-align: middle;
                    min-width: 250px;
                }

                    #profilStyles article div div p {
                        margin: 15px;
                        padding: 1px 8px 1px 10px;
                        border-radius: 2px;
                        text-align: left;
                    }

                    .projetProfil div div:first-child p:first-child {
                        font-variant: small-caps;
                    }


                        /* les textes */

                        #profilStyles article div div p span {
                            padding: 1px 8px;
                            margin: 0 10px 0 -10px;
                            border-radius: 2px 0 0 2px;
                            background-color: #62b2b2;
                            color: #0c6464;
                        }

                        #personneProfil div div p {
                            background-color: #57597b;
                            color: #babbd0;
                        }
                        .projetProfil div div p {
                            background-color: #baa4a4;
                            color: #2e2323;
                        }


                        /* les liens */

                        #personneProfil div div p a { color: #c6caf2; }
                        .projetProfil div div p a { color: #4d2222; }

                        #profilStyles article div div p a:hover { color: #fff; }


                        /* les listes de tags */

                        #profilStyles p.tagList {
                            padding: 0;
                            background-color: initial;
                        }

                        #profilStyles p.tagList span {
                            display: inline-block;
                            margin: 2px 4px 2px 0;
                            border-radius: 2px;
                            background-color: #218c9a;
                            color: #c5e1e2;
                        }


                    /* les images */

                    #personneProfil div div:first-child { background-color: #57597b; }

                    .projetProfil div div:last-child { background-color: #b7a6a6; }

                    #profilStyles article div div img {
                        margin: 5px 1.5% 0 1.5%;
                        width: 97%;
                        border-radius: 2px;
                    }

        @media (max-width: 800px) {
            #profilStyles { padding: 40px 0 20px 0; }
            #profilStyles menu h1 { /* IE */
                text-align: left;
                font-size: 1.5rem;
            }
            #profilStyles article { padding: 0; }
            #profilStyles article div div {
                text-align: center;
                vertical-align: top;
            }
            #profilStyles article div div img {
                max-width: 450px;
                border-radius: 2px;
                border: 0;
            }
        }
        @media (min-width: 800px) {
            #profilStyles #personneProfil {
                background: url('bg-blue.png'), #4b4e6d;
                box-shadow: inset -4px -4px 4px #373a59;
            }
            #profilStyles .projetProfil {
                background: url('bg-dark.png'), #d1c5c5;
                box-shadow: inset -4px -4px 4px #c1b2b2;
            }
        }